:root{
    --strong-gray:#2C3E50;
    --green:#30BC9C;
    --gray:#3A546D;
    --white:#fff;
}
img{
    max-width: 100%;
}
.ms_nav{
background-color: var(--strong-gray);
height: 50px;
}
#jumbo{
    background-color: var(--green);
    height: 300px;
}
#portfolio img {
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #about{
    background-color: var(--green);
  }
  .ms_comtainer{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  #conctact .ms_comtainer{
    background-color: bisque;
    height: 300px;
  }
  #footer{
    background-color: var(--gray);
  }
  #copyright{
    background-color: var(--strong-gray);
    color: var(--white);
    text-align: center;
  }