/* variable */
:root {
    --strong-gray: #2C3E50;
    --green: #30BC9C;
    --gray: #3A546D;
    --white: #fff;
    --black: #000
}

/* end variable */
/* RESET */
img {
    max-width: 100%;
}

/* END RESET */
/* utility */
.ms_comtainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.ms_style-star {
    font-size: 2.5rem;
    padding: 10px;
    font-weight: 900;
}

.ms-text-center {
    text-align: center;
}

/* end utility */
/* nav */
.ms_nav {
    background-color: var(--strong-gray);
    height: 50px;
}

/* end nav */
/* jumbo */
#jumbo img {
    width: 200px;
    height: auto;
    padding: 15px;
}

#jumbo {
    background-color: var(--green);
    text-align: center;
    color: var(--white);
}

#jumbo h1 {
    font-size: 3rem;
    padding: 10px;
}

#jumbo h4 {
    font-size: 1rem;
    padding: 10px;
}


/* End jumbo */
/* Portfolio */
#portfolio h2 {
    font-size: 2rem;
    padding: 10px;
    color: var(--black);
}

#portfolio img {
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* End Portfolio */
/* About */
#about {
    background-color: var(--green);
    color: var(--white);
}
#about h2{
    font-size: 2rem;
    padding: 10px;
}
.ms_button{
    padding-bottom: 20px;
}
/* end About */

/* conctact */
#conctact .ms_comtainer {
    background-color: bisque;
    height: 300px;
}

/* AEnd conctact */
/* footer */
#footer {
    background-color: var(--gray);
}

/* end footer */
#copyright {
    background-color: var(--strong-gray);
    color: var(--white);
    text-align: center;
}