/* variable */
:root {
    --strong-gray: #2C3E50;
    --green: #30BC9C;
    --gray: #3A546D;
    --white: #fff;
    --black: #000;
    --lith-gray: #888888;
    --strong-green: #166653;
}

/* End variable */
/* RESET */
img {
    max-width: 100%;
}

/* END RESET */
/* Utility */
.ms_comtainer {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.ms_style-star {
    font-size: 2.5rem;
    margin: 10px;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    padding: 10px;
}

/* End utility */
/* Nav */
header {

    height: 50px;
}

.bg-body-tertiary {
    background-color: var(--strong-gray) !important;
}

.nav-link {
    color: var(--white);
}

.navbar-brand {
    color: var(--white)
}

.navbar-toggler {
    color: var(--lith-gray) !important;
    border-color: var(--white) !important;
}

.ms-nav {

    font-weight: 800;
}

/* End nav */
/* Jumbo */
#jumbo img {
    width: 200px;
    height: auto;
    padding: 15px;
}

#jumbo {
    background-color: var(--green);
    color: var(--white);
}

#jumbo h1 {
    font-size: 3rem;
    padding: 10px;
}

#jumbo h4 {
    font-size: 1rem;
    padding: 10px;
    padding-bottom: 20PX;
}


/* End jumbo */
/* Portfolio */
#portfolio h2 {

    color: var(--black);
}

#portfolio img {
    border-radius: 8px;
}

/* End portfolio */
/* About */
#about {
    background-color: var(--green);
}


.ms_button {
    padding-bottom: 20px;
}

/* End about */

/* Conctact */
.form-control {
    border: 1px solid var(--strong-gray);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;

}

.btn-primary {
    background-color: var(--green);
    border: 0px;
}

.btn-primary:hover {
    background-color: var(--strong-green);
}

/* End conctact */
/* Footer */
#footer {
    background-color: var(--gray);
}
#footer{
    font-size: 1rem;
}
#footer p{
    font-weight: 700;
}
.ms-social i{
    border: 1px solid var(--white);
    font-size: 1.2rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
#footer a{
    text-decoration: none;
    color: var(--green);
}

#copyright {
    background-color: var(--strong-gray);
}
/* End footer */
